.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: rgb(164, 181, 130);
}

.logo{
    color: rgb(43, 35, 35);
}

/* .navBtns{
    display: flex;
    justify-content: space-between;
} */
