.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    width: 100vw;
    background: rgba(164, 181, 130, 0.899);
}

.logo{
    color: white;
}

/* nav{
    display: flex;
    justify-content: space-between;
} */
