.registerBody{
    min-height: 100vh;
}
.registerCont{
    background: rgba(196, 203, 183, 0.762);
    margin: 10%;
    padding: 10%;
    border-radius: 5px;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
}
.loginBody{
    min-height: 100vh;
}
.loginCont{
    background: rgba(196, 203, 183, 0.762);
    margin: 10%;
    padding: 10%;
    border-radius: 5px;
    border: 10px solid white;
    display: flex;
    flex-direction: column;
}