.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body{
  /* background: #B6C197; */
  height: 100%;
  position: relative;
  background-image: url('https://www.elsetge.cat/myimg/f/4-42909_koziel-moss-white-brick-wallpaper-old-bricks.jpg');
  background-repeat: repeat-y;
  background-size: 100%;
}

button{
  /* background: black;
  color: white; */
  border-radius: 10px;
  /* border: black; */
}