.plantStats{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 10px;
    color: rgb(50, 48, 48);
}
.plantCont{
    background: #c6c6c6;
    margin: 20px;
    display: flex;
    /* align-items: center; */
    height: 35vh;
    width: 500px;
    border-radius: 10px;
    /* flex-wrap: wrap; */
    border: 10px solid white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}
.displayBtns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.Xbtn{
    background: black;
    color: white;
    border: black;
}
.plant_imgCont{
    width: 300px;
}

.plant_img{
    /* height: 100%; */
    width: inherit;
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
}