.plantCont{
    background: #e6e2e2;
    margin: 20px;
    display: flex;
    width: 500px;
    border-radius: 5px;
    border: 10px solid white;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.6);
}
.plant_img{
    width: inherit;
    border-radius: 5px;
    object-fit: cover;
    height: 100%;
}
.plant_imgCont{
    width: 300px;
}
.plantStats{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    margin-left: 10px;
    padding: 1%;
    color: rgb(50, 48, 48);
}
.displayBtns{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.cornerBtn{
   border: 2px solid white;
}
@media only screen and (max-width: 375px) {
    .plantCont{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
    .plant_img{
        width: 100%;
        border-radius: 5px;
        object-fit: cover;
        height: inherit;
    }
    .plant_imgCont{
        width: 100%;
    }
    .displayBtns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}